@import "tailwindcss";
.text-4xl {
  font: size 1.5rem;
}
@media (min-width: 1024px) {
  .text-4xl {
    font-size: 2rem;
  }
}
@media (min-width: 1440px) {
  .text-4xl {
    font-size: 3rem;
  }
}

@theme {
  --breakpoint-pushpa: 400px;
}
