@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=PT+Mono&display=swap");

@theme {
  --color-primary: oklch(64.5% 0.246 16.439);
  --font-display: "Manrope", sans-serif;
  --spacing-paaji-relaxed: 4rem;
}
